*{
	color: blue;
	
}


body {
	
	background-image: linear-gradient(to right top, rgba(10, 57, 128, 0.8), rgba(24, 60, 160, 0.8),rgba(57, 59, 189, 0.8),rgba(97, 51, 215, 0.52),rgba(141, 18, 235, 0.52)), url(../img/main_background.jpg);
	background-size: cover;
	background-position: center;
    height: 100vh;
}	



